{% load static %}

<style>
    #hello-msg{   
        color: #fff;
        font-weight: 500;
     } 
     .navbar-brand{
          color: #E2B842 !important;
     }
</style>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark " style="background-color: rgba(0, 0, 0, 0.6);">
<div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Django-CMA</a>
            
    <!-- <img src="{% static 'images/logo.png' %}" alt=""> LOGO -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- Navbar Left Side -->
        <div class="navbar-nav mr-auto">
            {% if request.user.is_staff %} <!--If a user is customer/staff hide else display for admin Group users-->
                <a class="nav-item nav-link" href="{% url 'home' %}">Dashboard</a>
                <a class="nav-item nav-link" href="{% url 'products' %}">Products</a>
            {% else %}
                <a class="nav-item nav-link" href="{% url 'account' %}">
                    <svg class="bi bi-person-fill" width="1.7em" height="1.7em" viewBox="0 0 16 16" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z"
                        clip-rule="evenodd" />
                </svg>
            </a>
            {% endif %}
        </div>

        <!-- Navbar Right Side -->
        <div class="navbar-nav">
        {% if user.is_authenticated %}
            <span class="nav-item nav-link" id="hello-msg">Hello, {{request.user}}</span>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
        {% endif %}
        </div>
    </div>

  
</div>
</nav>
