{% load static %} <!--required for loading the logo-->

<style>
    #hello-msg{   
        color: #fff;
    }
</style>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
<div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Martin</a>
            
    <!-- <img src="{% static 'images/logo.png' %}" alt=""> LOGO -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- Navbar Left Side -->
        <div class="navbar-nav mr-auto">
            {% if request.user.is_staff %} <!--If a user is customer/staff hide else display for admin Group users-->
                <a class="nav-item nav-link" href="{% url 'home' %}">Dashboard</a>
                <a class="nav-item nav-link" href="{% url 'products' %}">Products</a>
            {% else %}
                <a class="nav-item nav-link" href="{% url 'account' %}">Settings</a>
            {% endif %}
        </div>

        <!-- Navbar Right Side -->
        <div class="navbar-nav">
        {% if user.is_authenticated %}
            <span class="nav-item nav-link" id="hello-msg">Hello, {{request.user}}</span>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
        {% endif %}
        </div>
    </div>

  
</div>
</nav>
