{% load static %} <!--required for loading the logo-->

<nav class="navbar navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
<div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Martin</a>
            
    <!-- <img src="{% static 'images/logo.png' %}" alt=""> LOGO -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- Navbar Left Side -->
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'home' %}">Dashboard</a>
            <a class="nav-item nav-link" href="{% url 'products' %}">Products</a>
        </div>

        <!-- Navbar Right Side -->
        <div class="navbar-nav">
            <!--i.e is already logged out. Display links for login & register-->
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
        </div>
    </div>

  
</div>
</nav>
